## Version: $Id$
##
######################################################################
##
### Commentary:
##
######################################################################
##
### Change Log:
##
######################################################################
##
### Code:

## ###################################################################
## Byte compiled files
## ###################################################################

*.elc

## ###################################################################
## Generated folders
## ###################################################################

+snippets
+themes

######################################################################
### .gitignore ends here